@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  
  align-items: center;
  background: url(../Assets/parede-de-concreto-azul-marinho-com-arranhoes.jpg);
  background-position: center;
  background-size: auto;
}

.wrapper {
  text-align: center;
  /* justify-content: space-between; */
  /* display: flex; */
  margin: 20px auto;
  width: 420px;
  height: fit-content;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
   margin-right: 5%; 
  /* transform: translateY(50%); */
  /* position: absolute; */
}
 
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
  color: #fff;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .index-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.index-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.index-link p a:hover {
  text-decoration: underline;
}

.centro {
  left: 50%;
  top: 60%;
  margin-left: -500px;
  margin-top: -300px;
  position: absolute;
  width: 1000px;
  height: 600px;
  background: linear-gradient(to right,  #2c5de6,#04073b) ;
  color: #fff;
  border-radius: 30px;
  border: 2px solid rgb(253, 253, 253);
  

}

.imagem{

left: 50%;
top: 60%;
margin-left: -500px;
margin-top: -300px;
position: absolute;
width: 500px;
height: 600px;
background: url(../Assets/Mobile\ login.gif);
border-radius: 30px;
background-position: 40% 0%;
background-size: cover;
background-attachment: local;
background-repeat: no-repeat;
border: 2px solid rgb(253, 253, 253);


}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #04073b, #2c5de6);
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 10000px;
  
  
}

.brand {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItem {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.menuItem:hover {
  color: #e5a5ff;
}

.ctaButton {
  background-color: #362db8;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.ctaButton:hover {
  background-color: #6b00b3;
}
.logo{
  display: flex;
  align-items: center;
}
